html {
    background-color: black;
}

/* ------------- NAV BAR STYLING --------------- */
.nav-bar {
    text-align: center; /* center the links in nav bar */
    border: 2px solid white;
    margin: 0 auto;
}

.tab:hover {
    background-color: #404040;
    cursor: pointer;
}

/* ------------------ MAIN PAGE AND HEADER STYLING -------------- */
.opening-text {
    text-align: center;
    margin-top: 20px;
    border: 2px solid white;
}
  
h1 {
    font-size: 25px;
    color: white;
}
  
h2 {
    padding-left: 5px;
    color: white;
    text-align: center;
}
  
h4 {
    color: white;
    text-align: center;
}

/* -------------- GENERAL FORM STYLING ------------------ */
.form-div {
    width: 30%;
    display: block;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

.form {
    /* font-size: 20px; */
    padding: 10px;
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 20px;
}

.form label {
    font-size: 20px;
}

.form p {
    font-size: 15px;
}

.form input[type=email] {
    width: 95%;
    text-align: center;
}

/* ------------------ IMAGE STYLING ----------------- */
.image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
  
.image-container img {
    padding: 20px;
    cursor: pointer;
}

/* ----------- IMAGE AND VIDEO OVERLAY STYLING ------------ */
.overlay-div {
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
}
  
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overlay-element {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%;
    max-height: 80%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 3;
}

/* ------------------- VIDEO STYLING --------------------- */
.video-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
  
.video-container video {
    padding: 20px;
    cursor: pointer;
}
  
.video-container video:focus {
    outline: 0 !important;
    border:0 none !important;
}

/* ------------------- TABLE STYLING --------------------- */
table, th, td {
    border: 1px solid white;
    font-size: 20px;
}
  
th, td {
    padding: 10px;
}
  
tr {
    text-align: center;
}
  
th, td.link {
    text-align: center !important;
}
  
.table-div {
    width: 80%;
    display: block;
    float: center;
    margin-left: auto;
    margin-right: auto;
}
  
.table-div a {
    color: white;
}
  
.custom-table {
    color: white;
    table-layout: fixed;
    border-collapse: collapse;
}

/* ------------------ ZOOM PAGE ------------------- */
.zoom-container {
    width: 50%;
    display: block;
    float: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
}

.title {
    margin: 5px;
}

.toggle-btn {
    border: 1px solid white;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    background-color: black;
    cursor: pointer;
}

/* ----------------- MEETING STYLING ----------------- */
.meeting-list {
    margin: 30px;
}

.meeting {
    /* border: 2px solid rgb(189, 188, 188); */
    background-color: rgb(31, 31, 31);;
    /* margin: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.meeting-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.meeting a {
    color: rgba(152, 251, 152)
}

h3, .meeting-date, .zoom-link {
    margin: 5px;
}

.delete-btn {
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    /* cursor: pointer;
    background-color: red; */
}

/* ----------------- FORM MEETING STYLING ----------------- */
.meeting-form {
    padding: 30px;
    text-align: left;
    font-size: 18px;
}

#update-form {
    border: 1px solid white;
}

.meeting-form label {
    margin-bottom: 5px;
}

.meeting-form input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

.form-input {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.form-important {
    margin-bottom: 15px;
}

.form-important label {
    margin-right: 10px;
}

.submit-btn {
    width: 100%;
    background-color: rgba(152, 251, 152, 0.8);
    border: none;
    border-radius: 2px;
}